@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    src: url(@/assets/fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url(@/assets/fonts/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url(@/assets/fonts/Roboto-Italic.ttf);
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    src: url(@/assets/fonts/Roboto-BoldItalic.ttf);
  }
  @font-face {
    font-family: 'RobotoMono';
    src: url(@/assets/fonts/RobotoMono-Regular.ttf);
  }
  @font-face {
    font-family: 'RobotoMono';
    font-weight: bold;
    src: url(@/assets/fonts/RobotoMono-Bold.ttf);
  }
  @font-face {
    font-family: 'RobotoMono';
    font-style: italic;
    src: url(@/assets/fonts/RobotoMono-Italic.ttf);
  }
  @font-face {
    font-family: 'RobotoMono';
    font-weight: bold;
    font-style: italic;
    src: url(@/assets/fonts/RobotoMono-BoldItalic.ttf);
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  *:focus {
    outline: none;
  }
  html {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #app,
  body,
  html {
    height: 100%;
  }
}
